# List
Que 1. List and its default function.

In [9]:
lst = ["kshitija", 27, 12, 1997]
print(lst)

['kshitija', 27, 12, 1997]

In [19]:
#1. append 

lst = ["kshitija", 27, 12, 1997] 
lst.append("mohokar")
print(lst)

['kshitija', 27, 12, 1997, 'mohokar']

In [20]:
#2. len

lst = ["kshitija", 27, 12, 1997]
print(len(lst))

4

In [23]:
#3. pop

lst = ["kshitija", 27, 12, 1997] 
lst.pop(0) 
print(lst)

[27, 12, 1997]

In [24]:
#4. insert

lst = ["kshitija", 27, 12, 1997] 
lst.insert(1, "mohokar") 
print(lst)

['kshitija', 'mohokar', 27, 12, 1997]

In [26]:
#5. max

lst = [27, 12, 1997] 
print(max(lst))

1997

In [27]:
#6. min

lst = [27, 12, 1997] 
print(min(lst))

12

In [28]:
#7. extend 

lst1 = ["kshitija", 27, 12, 1997]
lst2 = ["mohokar", 13, 10, 1995]
lst1.extend(lst2)
print(lst1)

['kshitija', 27, 12, 1997, 'mohokar', 13, 10, 1995]

# Dictionary 
Que 2. Dictionary and its default function.

In [14]:
dict = {"Name" : "kshitija", "Age" : 23, "Class" : "Msc"} 
print(dict)

{'Name': 'kshitija', 'Age': 23, 'Class': 'Msc'}

In [11]:
#1. len

dict = {"Name" : "kshitija" , "Age" : 23, "Class" : "Msc"}
print(len(dict))

3

In [12]:
#2. str(dict) 

dict = {"Name" : "kshitija", "Age" : 23, "Class" : "Msc"} 
print(str(dict))

{'Name': 'kshitija', 'Age': 23, 'Class': 'Msc'}

In [5]:
#3. type

dict = {"Name" : "kshitija", "Age" : 23, "Class" : "Msc"} 
print(type(dict))

<class 'dict'>

In [13]:
#4. any

dict ={"Name" : "kshitija", "Age" : 23, "Class" : "Msc"} 
print(any(dict))

True

In [7]:
#5. all

dict = {"Name" : "kshitija", "Age" : 23, "Class" : "Msc"} 
print(all(dict))

True

In [8]:
#6. sorted

dict = {"Name" : "kshitija", "Age" : 23, "Class" : "Msc"}
print(sorted(dict))

['Age', 'Class', 'Name']

In [15]:
#7. get 

dict = {"Name" : "kshitija", "Age" : 23, "Class" : "Msc"} 
print(dict.get("Name"))

kshitija

# Sets
Que 3. Sets and its default function.

In [16]:
st = {"kshitija", "mohokar", 27, 12, 1997} 
print(st)

{'mohokar', 'kshitija', 12, 1997, 27}

In [17]:
#1. intersection 

st1 = {"kshitija", "mohokar", 27, 12, 1997} 
st2 = {27, 12, 1997, "Radha", "Kale"} 
print(st1.intersection(st2))

{27, 12, 1997}

In [19]:
#2. issubset 

st1 = {"kshitija", "mohokar", 27, 12, 1997} 
st2 = {"kshitija", 1997}
print(st1.issubset(st2))

False

In [20]:
#3. Union

st1 = {"kshitija", 27, 12, 1997} 
st2 = {"mohokar", 13, 11, 1995}
print(st1.union(st2))

{'mohokar', 'kshitija', 11, 12, 1997, 13, 1995, 27}

In [25]:
#4. remove

st = {"kshitija", 27, 12, 1997} 
st.remove("kshitija") 
print(st)

{27, 12, 1997}

In [26]:
#5. update 

st1 = {"kshitija", 27, 12, 1997} 
st2 = {"mohokar", 1}
st1.update(st2) 
print(st1)

{'mohokar', 1, 'kshitija', 27, 12, 1997}

# Tuple
Que 4. Tuple and explore its default method.

In [27]:
tup = ("kshitija", "mohokar", 27, 12, 1997) 
print(tup)

('kshitija', 'mohokar', 27, 12, 1997)

In [31]:
#1. count

tup = ("kshitija", "mohokar", "kshitija", 27, 12, 1997) 
print(tup.count("kshitija"))

2

In [35]:
#2. index

tup = ("kshitija", "mohokar", 27, 12, 1997)
print(tup.index(27))

2

In [37]:
#3. len

tup = ("kshitija", 27, 12, 1997) 
print(len(tup))

4

In [39]:
#4. max

tup = (11, 27, 12, 1997) 
print(max(tup))

1997

In [1]:
#5. min

tup = (11, 27, 12, 1997) 
print(min(tup))

11

# String 
Que 5. String and explore its default method.

In [1]:
str = "hello, i am Kshitija" 
print(str)

hello, i am Kshitija

In [4]:
#1. Capitalize 

str = "hello, i am Kshitija" 
print(str.capitalize())

Hello, i am kshitija

In [5]:
#2. Index

str = "hello, i am kshitija" 
print(str.index("kshitija"))

12

In [7]:
#3. lower

str = "Hello, I am KSHITIJA" 
print(str.lower())

hello, i am kshitija

In [8]:
#4. title 

str = "hello, i am kshitija" 
print(str.title())

Hello, I Am Kshitija

In [10]:
#5. center

str = "hello, i am kshitija" 
print(str.center(40))

          hello, i am kshitija